

body {
  background-color: black;
  color: #FFF;
  font-family: 'Kaushan Script', cursive;

  font-weight: 400;
  line-height: normal;
  
}

hr {
  color: white;
}

.card-dark {
  padding: 15px;
 
}

h4 {
  padding: 10px;
}

.col {
  padding-top: 50px;
  font-size: 32px;
  font-style: normal;
}

.mundos {
  padding: auto;
  margin-top: 5px;
}

.figure {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  
}

/* Resposividade */
@media(min-width:769px) {
  .row  {
      width: 100/3;
  }
}